@font-face {

	font-family: NixieOne;
	src: url(NixieOne.ttf);

}

body {
	margin: 0px;
	padding: 0px;
	background-color: #330033;
}

.NazwaFirmy {
	font-family: NixieOne;
	font-size: 200px;
	text-align: center;
	background:#330033;
	color:#ffffff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
	z-index: 10;
	}
	
.CzarneTlo {
	height: 210px;
	background-color: black;
	margin-top: -200px;
	position: relative;
	z-index: 9;
}
	
	
.logo {
	width: 200px;
	height: 200px;
	margin-top: -225px;
	margin-left: 10px;
	border-radius: 20px;
	border: 3px solid white;
	position: relative;
	z-index: 11;
}

input{
			margin-left: -130px;
			margin-top: -110px;
			padding:0;
			color:#ffffff;
			position: relative;
			z-index: 14;
		}

div.box {
	background-color: #E6E6E1;
	z-index: 12;
	position: relative;
	border-bottom: 5px solid black;
}

.ikony {
	width: 300px;
	height: 300px;
	padding: 20px;
	padding-top: 30px;
	padding-right: 160px;
	transition: 0.5s;
	padding-left: 250px;
}

.ikony:hover {
	width: 310px;
	height: 310px;
	padding: 25px;
	padding-right: 80px;
	padding-bottom: 14.5px;
	padding-left: 250px;

}

.ikony.L {
	width: 300px;
	height: 300px;
	padding: 20px;
	padding-top: 40px;
	padding-right: 80px;
}

.ikony.wybor {
	width: 200px;
	height: 200px;
	padding: 20px;
	padding-bottom: 70px;
	padding-right: 55px;
	position: relative;
	z-index: 11;
	transition: 0.5s;
}


	
	